.bgGitler {
  background: url(https://gradients.app/public/img/gradients_app.png) no-repeat;
  background-size: 100%;
}
.rounded-img {
  border-radius: 50%;
  padding: 10px;
  transition: transform 0.6s ease;
}
.rounded-img:hover {
  box-shadow: 1px 1px 25px rgb(0, 0, 0);
  transform: scale(1.05);
}
.bold {font-weight: bold;}

.zoom-avatar {transition: transform 1.0s ease;  }

.zoom-avatar:hover {transform: scale(10.00);}

.zoom {transition: transform 1.0s ease;  }

.zoom:hover {
  color: orange;
  transform: scale(1.40);
}
.sticky {
  position: sticky;
  top: 0;
  padding-top: 7px;
  padding-bottom: 4px;
  z-index: 10000;
}
.about_img {
  height: 250px ;
  width: 250px;
  border-radius: 50%;
  transition: transform 1.0s ease;
}
.about_img:hover {
  box-shadow: 1px 1px 105px rgb(0, 0, 0);
  transform: scale(1.05);
}
.gitler {
  margin-left: 60rem;
  opacity: 0.01;
  transition: .4s;
}
.gitler:hover {opacity: 1;}
.home-text {
  font-size: 25px;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.5);
}
.gitlerQuotation {
  text-decoration: none;
  float: right;
  font-size: 50px; 
}
.gitlerQuotation:hover {color: rgb(0, 0, 0); cursor: text;}

.about-text-baobab {
  text-decoration: underline;
  color: white;
  font-size: 20px;
  margin-right: 5px; 
}
.nickname {
  font-size: 30px;
  text-align: bold;
}
